@font-face {
    font-family: "Hyrule";
    src: url('//HyliaSerifBeta-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color:rgb(105, 184, 127);
}

.gamesPage {
    border: 12px solid #CC9E48;
    padding:30px;
    display: flex;



    .gameTiles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:35px;
    }
}

.header{
    padding:12px;
        font-family: "Hyrule";
        color:#482d0e;
        font-size: 60px;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

