@font-face {
    font-family: "Hyrule";
    src: url('//HyliaSerifBeta-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    //background-color:rgb(105, 184, 127);
}
.gameContainer {
    background-color:rgb(105, 184, 127);
    padding-left:25px;
    height:100vh;
    padding-right:25px;
    color:#241606;
    display: flex;
    flex-direction: column;
    align-items: center;
    //border: 12px solid #CC9E48;
    

    .title{
        padding:12px;
        font-family: "Hyrule";
        color:#482d0e;
        font-size: 60px;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    }

    .about {
        padding-top:25px;
        font-size: 23px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .gifs {
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 350px;
            padding:40px 40px 20px 40px;
        }
    }

    .update {
        margin: auto;
    }

    button {
        width:200px;
        padding:8px;
        border: 3px solid #0e480f;
        color:#482d0e;
        font-weight: bold;
        border-radius: 15px;
        font-size: 22px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #CC9E48;
        cursor: pointer;
    }
    
}