@font-face {
    font-family: "Hyrule";
    src: url('//HyliaSerifBeta-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color:rgb(105, 184, 127);
}
.gameContainer {
    padding-left:25px;
    height:100vh;
    padding-right:25px;
    color:#241606;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 12px solid #CC9E48;
    

    .title{
        padding:12px;
        font-family: "Hyrule";
        color:#482d0e;
        font-size: 60px;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    }

    .about {
        padding-top:25px;
        font-size: 20px;
    }
    
}